@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 828px;
}
.top-nav-container {
  height: 44px;
  background-color: #202020;
  display: flex;
  width: 100%;
}
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 80%;
  margin: 0 auto;
}
.navbar {
  background-color: #ffffff;
  text-transform: uppercase;
  color: tomato;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav-link {
  padding: 30px 20px;
  transition: all 0.5s ease-in-out;
}
.nav-home-link {
  background-color: #f1bc31;
  color: white;
  padding: 30px 25px;
}

.shopping-cart-btn {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.button {
  width: 220px;
  height: 50px;
  background: #111827;
  outline: 1px solid teal;
  font-weight: bold;
  color: white;
  margin: 20px 0;
}

.button:active {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

/* The shopping cart css start from here */
.cart-container {
  display: flex;
  max-width: 1024px;
  margin: 20px auto;
  position: relative;
}
.order-item {
  width: 60%;
}

.hr {
  color: red;
  margin-bottom: 20px;
}
.ordered-items {
  height: 240px;
}
.ordered-items-img {
  width: 200px;
  height: 150px;
}

.item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  margin: 10px 0;
}
.order-btn {
  width: 40px;
  height: 35px;
  color: gray;
  border: 1px solid gray;
}
.order-btn-quantity {
  color: black;
  width: 60px;
}
.btn-40,
.btn-40 *,
.btn-40 :after,
.btn-40 :before,
.btn-40:after,
.btn-40:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-40 {
  background-color: #202839;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, sans-serif, Roboto;
  font-size: 1rem;
  line-height: 1.5;
}
.btn-40:disabled {
  cursor: default;
}
.btn-40:-moz-focusring {
  outline: auto;
}
.btn-40 svg {
  display: block;
  vertical-align: middle;
}
.btn-40 [hidden] {
  display: none;
}
.btn-40 {
  outline: 1px solid orange;
  box-sizing: border-box;
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 1.5rem 4.5rem;
  position: relative;
  text-transform: uppercase;
}
.btn-40 .new,
.btn-40 .old {
  transition: transform 0.3s;
}
.btn-40 .old {
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
}
.btn-40:hover .old {
  transform: translateY(100%);
}
.btn-40 .new {
  background: #f1bc31;
  color: #202839;
  border: 1px solid white;
  display: grid;
  inset: 0;
  place-content: center;
  pointer-events: none;
  position: absolute;
  transform: translateX(-100%);
}
.btn-40:hover .new {
  transform: translateX(0);
}
/* SEARCH CSS STARTS FROM HERE */
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.searchBox {
  background: #202020;
  height: 56px;
  border-radius: 40px;
  padding: 8px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #f1bc31;
  color: #2f3640;
}
.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  background: #2f3640;
  border: 2px solid white;
}
.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
